@model Lab5.Models.ViewModels.NewsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Sport Clubs</h2>
<p>
    <a asp-action="Create">Create New</a> 
   
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportsClubs.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportsClubs.FirstOrDefault().Fee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var SportClub in Model.SportsClubs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => SportClub.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => SportClub.Fee)
                </td>
 
                <td>
                   
                    <a asp-action="Edit" asp-route-id="@SportClub.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@SportClub.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@SportClub.Id">Delete</a> |
                    <a asp-action="News" asp-route-id="@SportClub.Id">News</a> |
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.Subscriptions != null && Model.Fans != null)
{
    foreach (var sportClub in Model.SportsClubs)
    {
        var subscribedFans = Model.Subscriptions
                                   .Where(s => s.SportClubId == sportClub.Id)
                                   .Select(s => s.Fan)
                                   .ToList();

        <div id="fans-@sportClub.Id" style="display: none;">
            <h3>@sportClub.Title - Subscribed Fans</h3>
            <ul>
                @foreach (var fan in subscribedFans)
                {
                    <li>@fan.FullName</li> 
                }
            </ul>
        </div>
    }
}